chromadb>=0.6.2
sentence-transformers==3.3.1
spacy==3.8.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
transformers==4.47.0
deep-translator==1.11.4
thefuzz==0.22.1
emoji==2.14.0
tqdm==4.67.1
nltk==3.9.1
matplotlib==3.10.0
pandas==2.2.3
numpy==2.0.2
scikit-learn==1.6.0
rich==13.9.4
python-dotenv==1.0.1